.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $light-gray;
  }
  a {
    text-decoration: none;
    color: #0E0000;
    &:hover {
      color: $terra-cotta;
      text-decoration: none;
    }
  }
}

.user-index {
  display: flex;
  justify-content: space-around;
}

.search-user {
  form {
    display: flex;
    align-items: start;
  }
  input#query {
    border-radius: 20px;
    padding: 5px;
  }
}
