<%= simple_form_for @micropost do |f| %>
  <%= f.input :content, label: false, placeholder: "Compose new micropost..." %>
  <%= f.button :submit, label: "Post", class: "btn btn-primary" %>
  <span class="image">
    <%= f.input :image, as: :file, label: false %>
  </span>
<% end %>
